/*Todo lo que va dentro del header*/
header{
border: 1px solid  rgb(49, 49, 49);

display: flex;
justify-content: space-between;
background-image: url(https://img.freepik.com/foto-gratis/desenfoque-lujo-abstracto-degradado-gris-oscuro-negro-utilizado-como-pared-estudio-fondo-mostrar-sus-productos_1258-90230.jpg?t=st=1729602071~exp=1729605671~hmac=3aec56fee81c80a1e229bb295db6cf0d97b3280aaaa6b32fe9196eaa01574bc6&w=1060);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}

.logo{
    color: aliceblue;
    margin-left: 1cm;
}
.logoI{
    height: 30px;
}
.barraN{
   margin-top: 1cm;
   padding-right: 1cm;

}
.Busque{
    width: 12cm;
    height: 0.63cm;
    border-radius: 2px;
    border: 1px solid white;
}
.Bbusque{
    width: 2cm; 
    height: 0.75cm;
    border-radius: 2px;
    border: 1px solid gray;
}
.Bbusque:hover{
    background-color: rgb(140, 234, 235);
}
.navh{
   padding-top: 1cm;
    padding-right: 1cm;
}
.a1{
    text-decoration: none;
    padding-right: 0.6cm;
    color: azure;
    font-size: 20px;
   
}
.a1:hover{
    color: gray;
}
/*cuerpo y productos de la pagina*/
body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    background-image: url(https://img.freepik.com/vector-gratis/vector-abstracto-fondo-lujo-negro-oro_361591-3874.jpg?t=st=1729601182~exp=1729604782~hmac=c9f8334fbabab524e08c8816ed2647d51e3d9f877f049062d149bee520c04810&w=1060);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.productos{
    display: flex;
    padding-top: 1cm;
    justify-content: space-evenly;
    
}
.p1{
     border: 1px solid rgb(49, 49, 49);
     
     height: 340px;
     width: 400px; 
     display: flex; 
     justify-content: center;
     padding-top: 1cm;
     border-radius: 0.4cm;
     flex-direction: column;
     background-image: url(https://media.istockphoto.com/id/1215814221/es/foto/el-negro-y-la-plata-son-de-color-gris-claro-con-blanco-el-degradado-es-la-superficie-con.jpg?s=612x612&w=0&k=20&c=Yj2s-IFewZBdzW_8qml7Ipjha2LhXyi--_SASoh7g9o=);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
.laptopdelln{
    display: flex;
    justify-content: center;
    
}
.n11n{
text-decoration: none;
color: rgb(255, 255, 255);
}

.LaptopDell{
    height: 200px;
    width: 300px;
   
   
}
.imd{
    padding-left: 1.3cm;
}
.productoN{
    display: flex;
    justify-content: center;
    
}
.productoNI{
    display: flex;
    flex-direction: column;
}
.Pn1{
    margin-left: 0.7cm;
    margin-top: -0.5cm;
    text-decoration: none;
    color: rgb(101, 215, 236);
}
.Pn1:hover{
    color: gray;
}
/*apartado de celulares*/

.p2{
    border: 1px solid rgb(49, 49, 49);
    
     height: 340px;
     width: 400px; 
     display: flex; 
     justify-content: center;
     padding-top: 1cm;
     border-radius: 0.4cm;
     flex-direction: column;
     background-image: url(https://media.istockphoto.com/id/1215814221/es/foto/el-negro-y-la-plata-son-de-color-gris-claro-con-blanco-el-degradado-es-la-superficie-con.jpg?s=612x612&w=0&k=20&c=Yj2s-IFewZBdzW_8qml7Ipjha2LhXyi--_SASoh7g9o=);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;

}
.S24_Ultra{
    height: 200px;
    width: 250px;
}
.S24_Ultra1{
    display: flex;
    justify-content: center;
}
.n12n{
    text-decoration: none;
    color: rgb(255, 255, 255);
    }
    .productoS{
        display: flex;
        justify-content: center;
        
    }
    .productoSI{
        display: flex;
        flex-direction: column;
    }
    .Ps1{
        margin-left: 0.2cm;
        margin-top: -0.5cm;
        text-decoration: none;
        color: rgb(101, 215, 236);
    }
    .Ps1:hover{
        color: gray;
    }
    
    .imd1{
        padding-left: 1.8cm;
    }
    /*Pie de pagina*/
    footer{
        border: 1px solid  rgb(49, 49, 49);height: 4cm;margin-top: 5cm;
       background-color: black;
    }
   